<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://code.highcharts.com/stock/highstock.src.js"></script>

<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
 
              
<body>



    <div id="{{ chartID|safe }}" class="chart" style="height: 100px; width: 500px"></div>

            
            
 
</body>
    



 <script>
    $(document).ready(function() {
        var chart_id = {{ chartID|safe }}
        var series = {{ series|safe }}
        var title = {{ title|safe }}
        var rangeSelector = {{ rangeSelector|safe }}        
        var chart = {{ chart|safe }}
        console.log(series)


        $(chart_id).highcharts({
            chart: chart,
            title: title,
            rangeSelector: rangeSelector,
            series: series
        });
});

</script>
 
</html>