<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="/static/d3.js"></script>
 <script src="/static/d3.layout.cloud.js"></script>


<script>
var colors = d3.scale.category10();

var frequency_list = {{data|safe}}; 
  var fill = d3.scale.category20();
  d3.layout.cloud().size([1000, 1000])
      .words(frequency_list)
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();
  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 700)
        .attr("height", 700)
      .append("g")
        .attr("transform", "translate(400,400)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return Math.round(d.size*2) + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>
</body>