<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
 
              
<body>
    <div id="container" style="height: 400px; min-width: 310px"></div>                
</body>


 <script>


/////////////

$(function () {
    
    var data = {{ data|safe }}
    var text ={{text|safe}}
    var tweets = {{tweets|safe}}
    var sentiment = {{sentiment|safe}}

    // create the chart
    $('#container').highcharts('StockChart', {
  

           rangeSelector : {
                buttons : [
                {
                    type : 'minute',
                    count : 5,
                    text : '5m'
                },
                {
                    type : 'minute',
                    count : 30,
                    text : '30m'
                },
                {
                    type : 'hour',
                    count : 1,
                    text : '1h'
                },
                 {
                    type : 'minute',
                    count : 225,
                    text : 'TD'
                }, 

                 {
                    type : 'day',
                    count : 1,
                    text : '1D'
                }, 
                {
                    type : 'day',
                    count : 7,
                    text : '1W'
                }, 
                {
                    type : 'Month',
                    count : 1,
                    text : '1M'
                },     
                {
                    type : 'all',
                    count : 1,
                    text : 'All'
                }],
                selected : 1,
                inputEnabled : false
            },

            title : {
                text : text
            },

            

            yAxis: [{
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'Price'
                },
                height: '60%',
                lineWidth: 2
            }, {
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'Tweets Counts'
                },
                top: '65%',
                height: '35%',
                offset: 0,
                lineWidth: 2
            }],

           series: [{
                type: 'candlestick',
                name: text,
                data: data,
         
            }, {
                type: 'column',
                name: 'Tweets Counts',
                data: tweets,
                yAxis: 1,
      
            }]

            
    });
});

</script>
 
</html>