<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
       var data = google.visualization.arrayToDataTable([
             ['Element', 'Density', { role: 'style' }],
             ['Copper', 8.94, '#b87333'],            // RGB value
             ['Silver', 10.49, 'silver'],            // English color name
             ['Gold', 19.30, 'gold'],
             ['Platinum', 21.45, 'color: #e5e4e2' ], // CSS-style declaration
          ]);

        var options = {
          title: 'Company Performance',
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
